body {
    margin:0 0;
    min-width: 960px;
    background: black url("img/background.png") no-repeat center top;
    color: #f7f4f1;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
}
.modal-content {
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    z-index: 6;
    width: 300px;
    padding: 50px 80px;
    margin-left: -230px;
    color: #000000;
    background: #f8f5f2 url("img/pattern-white.jpg") repeat;
}
.modal-content-show {
    display: block;
    animation: bounce 0.6s;
    
}
@keyframes bounce {
    0% { transform: translateY(-2000px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
.modal-error {
    animation: shake 0.6s;
}
@keyframes shake {
    0%, 100%        { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%      { transform: translateX(10px); }
}
.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}
.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 236px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-right: 40px;

    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border:2px solid #000000;
    outline: none;
}
.login-form input:focus {
    border-color: #663d15;
}
.login-form input.icon-user {
    background-image: url("img/Usercopy2.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}
.login-form input.icon-password {
    background-image: url("img/Locked 2.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}
.login-form .restore {
    float: right;
    color: #000000;
    text-decoration: underline;
}
.login-form .restore:hover {
    text-decoration: none;
}
.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.login-checkbox:hover {
    color: #663d15;
}
.login-checkbox input[type="checkbox"] {
    display: none;
}
.login-checkbox .checkbox-indicator {
    position: absolute;
    top:-3px;
    left:0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top:-3px;
    left:0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
    background:url("img/Layer 29 copy 3.png") no-repeat  center;
}
.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}
.modal-content .btn {
    width: 100%;
    margin-top: 20px;
}

.modal-content a {
    color: black;
}
.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;

    font-size: 0;

    background: url("img/cross.png");
    border: 0;
    outline: 0;
    cursor: pointer;
}

body a {
    text-decoration: none;
    color: #f7f4f1;
}
.innerPage{
    color: #000000;
    background: #f8f3f0 url("img/pattern-white.jpg") repeat;
}
.main-header {
    margin-bottom: 60px;
    background-color: black;
}

.container {
    
    width: 940px;
    padding:0 10px;
    margin:0 auto;    
}

.menu {
   
   width: 780px;
   float:left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.menu ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    font-size: 0;
}
.menu li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 25px;
    
}
.menu a {
    display: block;
    padding: 25px 20px;
}
.main-header a:hover {
    background-color: #242424;
}
.menu .innerLogo {
    padding: 19px 20px;
    padding-top: 25px;
}
.menu .innerLogo:hover {
    background: none;
}
.user-block {
    position: relative;
    max-width: 140px;
    float:right;
}

.login {
    
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 25px;
    padding: 25px 20px;
    padding-left: 50px;
}
.login::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 18px;
    height: 18px;
    background: url("img/sprites.png") no-repeat;
    background-position: -64px -114px ;
    opacity: 0.3;
}
.login:hover::before {
   opacity: 1;
}
.login:hover::before {
   opacity: 1;
}

.main-header .active {
    position: relative;
    background: none;
    color: #f7f4f1;

}
.main-header .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;

    height: 5px;
    background-color: #ffffff;
}
.main-header .active span {
    display: block;
    padding: 25px 20px;
}
.main-header .active span:hover {
    background: none;
    cursor: default;
}

main h1 {
    
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}
.path-menu {
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.path-menu li {
    display: inline;
    padding-right: 40px;
    position: relative;
}
.path-menu li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 18px;

    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg)
}
.path-menu a {
    color: #000000;
}
.path-menu a:hover {
    text-decoration: underline;
}
.current {
    color:#aba9a7;
}
.current::after {
    display: none;
}

.filter {
    width: 220px;
    float: left;
    margin-right: 20px;
}
.filter ul {
    list-style: none;
    padding: 0;
}
.filter li {
    margin-bottom: 10px;
}
.filter legend {
    font-size: 24px;
    margin-bottom: 40px;
    
}
.filter .groupProd {
    margin-top: 60px;
}
.prodCheckbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.prodCheckbox:hover {
    color: #663d15;
}
.prodCheckbox input[type="checkbox"] {
    display: none;
}
.prodCheckbox input[type="radio"] {
    display: none;
}
.prodCheckbox .checkbox-indicator {
    position: absolute;
    top:-3px;
    left:0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.prodCheckbox input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top:-3px;
    left:0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
    background:url("img/Layer 29 copy 3.png") no-repeat  center;
}
.prodCheckbox .radio-indicator {
    position: absolute;
    top:-3px;
    left:0;
    width: 20px;
    height: 20px;
    background: url("img/radio1.png") no-repeat ;
}

.prodCheckbox input[type="radio"]:checked + .radio-indicator {
    position: absolute;
    top:-3px;
    left:0;
    width: 20px;
    height: 20px;
    
    background: url("img/radio2.png") no-repeat ;
}
.images-products{
    width: 700px;
    float:right; 
    
}

.product {
    width: 220px;
    min-height: 304px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
.product a {
    color:black;
}
.product:nth-child(3n) {
    margin-right: 0;
}
.productInfo {
    margin-left: 16px;
    margin-right:16px;
    margin-bottom: 19px;
    
}


.btn-pages {
    float: left;
    width: 500px; 
    margin-top: 25px;
}
.btn-pages ul {
    margin: 0;
    padding: 0;
    
}
.btn-pages li {
    display: inline-block;
    background: #000000;
    text-decoration: none;
    margin-right:7px;
}
.btn-pages a {
    display: block;
    padding:10px 20px;   
}
.btn-pages a:hover {
    background-color: #663d15;
}

.product img {
    width: 220px;
    height: 165px;
}
.btn {
    display: inline-block;
    padding:10px 33px;
    margin-right: 16px;

    text-align: center;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;

    color: white;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover,
.btn:active {
    background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}
.price {
    display: inline-block;
    padding:10px 25px;
    color: black;
    background: #e5e5e5;
    border: none;
    outline: none;
    margin-left: 16px;
}
.btn.buy {
    padding:10px 20px;
}
.btn.buy a {
color: white;
}
.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;

    color: #ffffff;
    background: url("img/pattern-black.jpg");
}
.footer-address {
    width: 320px;
    float: left;
}
.footer-address a {
    text-decoration: underline;
}
.footer-address a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    margin-left: 60px;
    text-align: center;
}
.footer-social p {
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    background: #000000 url("img/sprites.png") no-repeat center;
    font-size: 0;
    text-decoration: none;

    transition: 
        background-position 0.5s,
        background-color 0.5s;
}
.social-btn-vk {
   background-position: -2px -52px ;
}
.social-btn-fb {
    background-position: -3px -2px ;
}
.social-btn-inst {
    background-position: -1px -103px ;
	
}
.social-btn-vk:hover {
    background-position: -2px -153px ;
}
.social-btn-fb:hover {
    background-position: -2px -252px ;
}
.social-btn-inst:hover {
    background-position: -1px -204px ;
}
.footer-copyright {
    float: right;
    max-width:180px;
}
.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}
.footer-copyright .btn {
    margin-right: 0;
}